body {
    background-color: #dddddd;
    overflow: hidden;
}

button {
    border: 0px;
    font-size: 15px;
}

#main-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#todo-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 800px;
    margin-top: 25px;
}

#cal-div {
    width: 600px;
    margin-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff
}

#cal-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #dddddd;
}

#cal-date {
    font-size: 20px;
}

#cal-navigation button {
    margin: 10px 20px 10px 20px;
    background-color: #ffffff;
    font-size: 25px;
}

#day-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

#day-navigation li {
    list-style: none;
}

#task-div {
    width: 600px; /*스크롤 생기면 width 줄이기*/
}

#task-item {
    padding: 10px;
    margin: 5px 0px 5px 0px;
    display: flex;
    background-color: white;
}

#task-detail {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-right: 10px;
    margin: 0px 5px 0px 5px;
}

#task-delete-btn {
    padding: 0px 15px 0px 15px;
}

#input-div {
    margin-top: 5px;
}

#input-div div {
    display: flex;
    justify-content: center;
}

#input-div p {
    margin: 0px 0px 5px 0px;
}

#input-div input {
    width: 525px;
    padding: 5px;
    border: 0px;
    font-size: 18px;
    background-color: #ffffff;
}

#task-create-btn {
    margin-left: 10px;
    padding: 14px;
    background-color: #ffffff;
}