body {
    background-color: #dddddd;
}

#task-div {
    width: 600px;
    height: 330px;
    margin: 5px 0 5px 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.task-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px 0px 10px;
    margin-bottom: 5px;
    background-color: white;
}

.task-item div {
    display: flex;
    padding: 5px 0 5px 5px;
}

#imgDiv {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#imgDiv {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.image-item {
    position: relative;
    display: inline-block;
    width: 100px;
    border-radius: 8px;
    overflow: hidden;
}

.image-item img:first-child {
    width: 100%;
    height: 100%;
}

.image-delete-btn {
    position: absolute;
    width: 25px;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.task-detail {
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 20px;
}

.task-item:last-child {
    margin-bottom: 0;
}

.content {
    font-size: 19px;
}

.delete {
    margin: 10px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #afafaf;
}

.delete:hover {
    background-color: #dddddd;
}

#input-date {
    font-size: 17px;
    font-weight: bold;
}

#input-div {
    margin-top: 5px;
}

#input-div div {
    display: flex;
    justify-content: center;
}

#input-div p {
    margin: 0 0 10px 0;
    height: 20px;
    font-size: 20px;
}

#input-div input {
    width: 510px;
    padding: 10px;
    border: 0;
    font-size: 18px;
}

#create {
    margin-left: 10px;
    padding: 14px;
    background-color: #ffffff;
}

#create:hover {
    background-color: #cccccc;
}

#create:disabled {
    cursor: default;
    background-color: #cccccc;
}

#no-data-notice {
    font-weight: bold;
    font-size: 20px;
}

#file-upload-notice {
    display: none;
    color: #ca2929;
    font-weight: bold;
}

#file-div p {
    text-align: center;
}